body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
}

.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
 margin-top: auto;
}

.icon {
  order: -1;
  font-size: 4rem;
  display: flex;
  justify-content: center;
}

.emojis {
    display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 1rem;
}
